{% extends 'base.html' %}

{% block content %}
    <h1>Survival Guide</h1>
    <h2>El Reto Móvil</h2>
    
    <div class="lore-text">
        <p>*Abres los ojos. Estás en un campus gigante. No sabes dónde está tu salón, no sabes qué materia es esta... Eres un estudiante de nuevo ingreso, completamente perdido.*</p>
    </div>

    <div class="content-box">
        <p>Has sido invocado al reino de la <strong>Universidad Politécnica de Querétaro (UPQ)</strong>.</p>
        <p>Tu misión principal, si decides aceptarla, es sobrevivir a la materia de <strong>Programación Móvil</strong>. Para ello, deberás superar 4 pruebas de conocimiento.</p>
    </div>

    <a href="/nivel/reglas" class="btn">INICIAR AVENTURA</a>
{% endblock %}